*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #fff;
}




p{
  
    background: #E4E3E9;
    padding: 6px;
    border-radius: 15px;
    font-weight: 500;
}



h2{
    color: #c322a4;
  
  }
  
  
  li{
      list-style: none;
      color: #E4E3E9;
      padding: 20px 0px;
      font-size: 16px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 35px;
      align-items: center;
      justify-content: start;
  }

  input{
    margin-bottom:20px ;
  }
  
label{
    
    color: #151515;
    font-weight: bold;
}

span{
    background-color: transparent;
   color: #c322a4;
   font-weight: bold;
}

p{
    display: grid;
    gap: 5px;
    padding: 10px;
    color: #151515;
}

.container{
    margin: 0 auto;
    max-width: 400px;
    
    padding: 10px;
}


.list-do{
    width: 100%;
    max-width: 300px;
}


 .btn-2{
  cursor: pointer;
  background: none;
  border: none;
   
 }

 .btn-2 img:hover{
  background-color: #fff;
  border-radius: 15px;
 }

.task{
    color: #fff;
    transition: 0.2s;
 
    margin-top: 50px;
}

.btn{
    width: 100%;
    margin-top: 20px;
    color: #fff;
    background-color: #151515;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;

}



.btn:hover{
    background-color: #c322a4;
    
   }
   
.box:checked{
    background-color: #ACE1AF;
}

.box:checked::after{
   opacity: 1;
}

.no-tasks {
    color: #B4B4B4;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.input{
    background-color: #2E2E2E;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

.input-box{
    padding: 50px;
}




